.cart-page {
  margin: 1rem;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: clamp(20px, 4vw, 25px);
}

.cart {
  max-width: 700px;
  margin: auto;

  .cart-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
    position: relative;
    gap: 1.5rem;

    > img {
      height: 100px;
    }

    .cart-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: end;

      button {
        height: 50px;
        width: 50px;
      }
    }
  }

  .total {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    div {
      display: flex;
      justify-content: space-between;

      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .cart {
    .cart-product {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      > img {
        grid-row: span 2;
      }

      .cart-buttons {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-content: start;
      }
    }
  }
}
