.login-page {
  margin: auto;
  max-width: 700px;
  background-color: #002b60;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  h1 {
    margin-bottom: 1.5rem;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  div {
    display: flex;
    align-items: center;
  }

  img {
    height: 50px;
    padding: 0.8rem;
    background-color: var(--blue-color);
  }

  input {
    border: none;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 50px;
  }

  p {
    height: 20px;
    color: white;
  }

  button {
    background-color: var(--blue-color);
    height: 50px;
    border: 3px solid transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      background-color: transparent;
      border-color: var(--blue-color);
      color: var(--blue-color);
    }
  }
}

.admin-page {
  margin: 1rem auto;
  padding: 1rem;

  .admin-buttons {
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem 0;
    cursor: pointer;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.412);
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .add-toy {
    display: flex;
    flex-direction: column;
    background-color: var(--green-color);
    padding: 3rem;
    border-radius: 0.5rem;
    position: fixed;
    width: 600px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .error {
      height: 35px;
      padding: 2px 5px;
      color: #d21010;
    }

    h1 {
      margin-bottom: 1rem;
    }

    input {
      padding: 0.5rem 1.5rem;
    }

    select {
      padding: 0.5rem 1.5rem;
    }

    .add-toy-buttons {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;

      button {
        padding: 1rem;
        flex-grow: 1;
        cursor: pointer;
      }
    }
  }

  table {
    border-collapse: collapse;
  }

  thead {
    background-color: var(--blue-color);

    th {
      padding: 1.5rem 3rem;
    }
  }

  tbody {
    .product-on-edit {
      .edit-buttons {
        border-top: 1px solid black;

        button {
          border: none;
          background-color: transparent;
          margin: 0.5rem;
          cursor: pointer;
          font-size: 20px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      td:not(.edit-buttons) {
        border-top: 1px solid black;
        padding: 1rem;
        text-align: center;
      }

      img {
        height: 150px;
      }
    }
  }
}
