.search-sort {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1rem;

  .search {
    padding: 1rem 2rem;
    border-radius: 3rem;
    width: clamp(300px, 50vw, 500px);
  }

  .sort-products {
    display: flex;
    gap: 0.8rem;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 7rem;
  margin: 3rem 1rem;
}

.toy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;

  .discount {
    background-color: var(--pink-color);
    max-width: fit-content;
    padding: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
  }

  img {
    width: 90%;
    aspect-ratio: 1/1;
    align-self: center;
  }

  .toy-flex {
    display: flex;
    justify-content: space-between;
    align-items: end;
    min-height: 70px;
    gap: 1rem;

    button {
      width: 100%;
      padding: 0.8rem;
      cursor: pointer;
      background-color: var(--yellow-color);
      font-size: 20px;
      border-radius: 0.5rem;
      font-weight: bold;
      border: none;
      transition: all 0.3s;
      text-transform: uppercase;

      @media (hover: hover) {
        &:hover {
          background-color: #ffd500;
        }

        &:active {
          scale: 1.1;
        }
      }
      @media (hover: none) {
        &:active {
          background-color: #ffd500;
          scale: 1.1;
        }
      }
    }

    p {
      font-size: 20px;
    }

    .old-price {
      text-decoration: line-through;
    }
  }
}

@media (min-width: 500px) {
  .products {
    margin: 5rem;
  }
}
