header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--orange-color);

  .hamburger-menu {
    background-color: var(--green-color);
    position: fixed;
    top: 0;
    left: -150%;
    height: 100dvh;
    width: 100dvw;
    max-width: 400px;
    transition: all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
    z-index: 1;
    padding: 5rem;

    &.open-menu {
      left: 0;
    }
  }

  .hamburger-button {
    cursor: pointer;
    z-index: 2;

    &:active {
      .hamburger-menu {
        left: 0;
      }
    }
  }

  .cart-button-flex {
    text-decoration: none;
    transition: transform 0.8s;
    position: relative;

    .cart-quantity {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      position: absolute;
      right: -5px;
      top: -5px;
      font-size: 20px;
    }

    .cart-button {
      cursor: pointer;
    }

    &:hover {
      scale: 1.1;
    }

    &:active {
      color: black;
    }
  }
}

.logo {
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
}

footer {
  background-color: var(--pink-color);

  section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    margin: 0 1rem;
    border-bottom: 1px solid black;
  }

  > p {
    text-align: center;
    padding: 2rem;
  }
}
